# packages in environment at /Users/lenagies/anaconda3/envs/goose_vocalizations:
#
# Name                    Version                   Build  Channel
aom                       3.9.1                hf036a51_0    conda-forge
appnope                   0.1.4              pyhd8ed1ab_0    conda-forge
arpack                    3.9.1           nompi_hf81eadf_101    conda-forge
asttokens                 2.4.1              pyhd8ed1ab_0    conda-forge
audioread                 3.0.1           py311h6eed73b_2    conda-forge
blas                      2.120                       mkl    conda-forge
blas-devel                3.9.0              20_osx64_mkl    conda-forge
blosc                     1.21.6               h7d75f6d_0    conda-forge
brotli                    1.1.0                h00291cd_2    conda-forge
brotli-bin                1.1.0                h00291cd_2    conda-forge
brotli-python             1.1.0           py311hd89902b_2    conda-forge
brunsli                   0.1                  h046ec9c_0    conda-forge
bzip2                     1.0.8                hfdf4475_7    conda-forge
c-blosc2                  2.15.2               h8e687fb_0    conda-forge
ca-certificates           2024.12.31           hecd8cb5_0  
cairo                     1.18.0               h37bd5c4_3    conda-forge
certifi                   2024.12.14         pyhd8ed1ab_0    conda-forge
cffi                      1.17.1          py311h137bacd_0    conda-forge
charls                    2.4.2                he965462_0    conda-forge
charset-normalizer        3.4.0              pyhd8ed1ab_0    conda-forge
colorama                  0.4.6              pyhd8ed1ab_0    conda-forge
comm                      0.2.2              pyhd8ed1ab_0    conda-forge
contourpy                 1.3.1           py311h4e34fa0_0    conda-forge
cpython                   3.11.10         py311hd8ed1ab_3    conda-forge
cycler                    0.12.1             pyhd8ed1ab_0    conda-forge
dav1d                     1.2.1                h0dc2134_0    conda-forge
debugpy                   1.8.9           py311hc356e98_0    conda-forge
decorator                 5.1.1              pyhd8ed1ab_0    conda-forge
deepdiff                  8.1.1                    pypi_0    pypi
et_xmlfile                2.0.0              pyhd8ed1ab_1    conda-forge
exceptiongroup            1.2.2              pyhd8ed1ab_0    conda-forge
executing                 2.1.0              pyhd8ed1ab_0    conda-forge
ffmpeg                    7.1.0           gpl_h25dd2f9_105    conda-forge
filelock                  3.16.1             pyhd8ed1ab_1    conda-forge
font-ttf-dejavu-sans-mono 2.37                 hab24e00_0    conda-forge
font-ttf-inconsolata      3.000                h77eed37_0    conda-forge
font-ttf-source-code-pro  2.038                h77eed37_0    conda-forge
font-ttf-ubuntu           0.83                 h77eed37_3    conda-forge
fontconfig                2.15.0               h37eeddb_1    conda-forge
fonts-conda-ecosystem     1                             0    conda-forge
fonts-conda-forge         1                             0    conda-forge
fonttools                 4.55.0          py311ha3cf9ac_0    conda-forge
freetype                  2.12.1               h60636b9_2    conda-forge
fribidi                   1.0.10               hbcb3906_0    conda-forge
gdk-pixbuf                2.42.12              ha587570_0    conda-forge
gettext                   0.22.5               hdfe23c8_3    conda-forge
gettext-tools             0.22.5               hdfe23c8_3    conda-forge
giflib                    5.2.2                h10d778d_0    conda-forge
glpk                      5.0                  h3cb5acd_0    conda-forge
gmp                       6.3.0                hf036a51_2    conda-forge
gmpy2                     2.1.5           py311h7945f45_3    conda-forge
graphite2                 1.3.14               he9d5cce_1  
h2                        4.1.0              pyhd8ed1ab_0    conda-forge
harfbuzz                  9.0.0                h098a298_1    conda-forge
hdbscan                   0.8.39          py311hde34974_0    conda-forge
hpack                     4.0.0              pyh9f0ad1d_0    conda-forge
hyperframe                6.0.1              pyhd8ed1ab_0    conda-forge
icu                       75.1                 h120a0e1_0    conda-forge
idna                      3.10               pyhd8ed1ab_0    conda-forge
igraph                    0.10.15              h5479cbe_1    conda-forge
imagecodecs               2024.9.22       py311h1537e33_0    conda-forge
imageio                   2.36.1             pyh12aca89_1    conda-forge
importlib-metadata        8.5.0              pyha770c72_0    conda-forge
ipykernel                 6.29.5             pyh57ce528_0    conda-forge
ipython                   8.29.0             pyh707e725_0    conda-forge
jedi                      0.19.2             pyhff2d567_0    conda-forge
jinja2                    3.1.4                    pypi_0    pypi
joblib                    1.4.2              pyhd8ed1ab_0    conda-forge
jupyter_client            8.6.3              pyhd8ed1ab_0    conda-forge
jupyter_core              5.7.2           py311h6eed73b_0    conda-forge
jxrlib                    1.1                  h10d778d_3    conda-forge
kiwisolver                1.4.7           py311hf2f7c97_0    conda-forge
krb5                      1.21.3               h37d8d59_0    conda-forge
lame                      3.100             hb7f2c08_1003    conda-forge
lazy-loader               0.4                pyhd8ed1ab_1    conda-forge
lazy_loader               0.4                pyhd8ed1ab_1    conda-forge
lcms2                     2.16                 ha2f27b4_0    conda-forge
leidenalg                 0.10.2          py311hdd0406b_0    conda-forge
lerc                      4.0.0                hb486fe8_0    conda-forge
libabseil                 20240722.0      cxx17_hac325c4_1    conda-forge
libaec                    1.1.3                h73e2aa4_0    conda-forge
libasprintf               0.22.5               hdfe23c8_3    conda-forge
libasprintf-devel         0.22.5               hdfe23c8_3    conda-forge
libass                    0.17.3               h5386a9e_0    conda-forge
libavif16                 1.1.1                h71406da_2    conda-forge
libblas                   3.9.0              20_osx64_mkl    conda-forge
libbrotlicommon           1.1.0                h00291cd_2    conda-forge
libbrotlidec              1.1.0                h00291cd_2    conda-forge
libbrotlienc              1.1.0                h00291cd_2    conda-forge
libcblas                  3.9.0              20_osx64_mkl    conda-forge
libcxx                    19.1.4               hf95d169_0    conda-forge
libdeflate                1.22                 h00291cd_0    conda-forge
libedit                   3.1.20230828         h6c40b1e_0  
libexpat                  2.6.4                h240833e_0    conda-forge
libffi                    3.4.4                hecd8cb5_1  
libflac                   1.4.3                he965462_0    conda-forge
libgettextpo              0.22.5               hdfe23c8_3    conda-forge
libgettextpo-devel        0.22.5               hdfe23c8_3    conda-forge
libgfortran               5.0.0           13_2_0_h97931a8_3    conda-forge
libgfortran5              13.2.0               h2873a65_3    conda-forge
libglib                   2.82.2               hb6ef654_0    conda-forge
libhwloc                  2.11.2          default_h4cdd727_1001    conda-forge
libhwy                    1.1.0                h7728843_0    conda-forge
libiconv                  1.17                 hd75f5a5_2    conda-forge
libintl                   0.22.5               hdfe23c8_3    conda-forge
libintl-devel             0.22.5               hdfe23c8_3    conda-forge
libjpeg-turbo             3.0.3                h46256e1_0  
libjxl                    0.11.1               ha9171ad_0    conda-forge
liblapack                 3.9.0              20_osx64_mkl    conda-forge
liblapacke                3.9.0              20_osx64_mkl    conda-forge
libleidenalg              0.11.1               h1c7c39f_0    conda-forge
libllvm14                 14.0.6               hc8e404f_4    conda-forge
libogg                    1.3.5                hfdf4475_0    conda-forge
libopenblas               0.3.28          openmp_hbf64a52_1    conda-forge
libopenvino               2024.4.0             h7bc525e_1    conda-forge
libopenvino-auto-batch-plugin 2024.4.0             h904f6e8_1    conda-forge
libopenvino-auto-plugin   2024.4.0             h904f6e8_1    conda-forge
libopenvino-hetero-plugin 2024.4.0             h364e3e2_1    conda-forge
libopenvino-intel-cpu-plugin 2024.4.0             h7bc525e_1    conda-forge
libopenvino-ir-frontend   2024.4.0             h364e3e2_1    conda-forge
libopenvino-onnx-frontend 2024.4.0             h9381666_1    conda-forge
libopenvino-paddle-frontend 2024.4.0             h9381666_1    conda-forge
libopenvino-pytorch-frontend 2024.4.0             h4398f7a_1    conda-forge
libopenvino-tensorflow-frontend 2024.4.0             hd55e6c5_1    conda-forge
libopenvino-tensorflow-lite-frontend 2024.4.0             h4398f7a_1    conda-forge
libopus                   1.3.1                hc929b4f_1    conda-forge
libpng                    1.6.44               h4b8f8c9_0    conda-forge
libprotobuf               5.27.5               h62b0dff_2    conda-forge
librosa                   0.10.2.post1       pyhd8ed1ab_0    conda-forge
librsvg                   2.58.4               h2682814_0    conda-forge
libsndfile                1.2.2                h9603cec_1    conda-forge
libsodium                 1.0.20               hfdf4475_0    conda-forge
libsqlite                 3.47.0               h2f8c449_1    conda-forge
libtiff                   4.7.0                h583c2ba_1    conda-forge
libvorbis                 1.3.7                h046ec9c_0    conda-forge
libvpx                    1.14.1               hf036a51_0    conda-forge
libwebp-base              1.4.0                h10d778d_0    conda-forge
libxcb                    1.17.0               hf1f96e2_0    conda-forge
libxml2                   2.13.5               h495214b_0    conda-forge
libzlib                   1.3.1                hd23fc13_2    conda-forge
libzopfli                 1.0.3                h046ec9c_0    conda-forge
llvm-openmp               19.1.4               ha54dae1_0    conda-forge
llvmlite                  0.43.0          py311h25b8078_1    conda-forge
lz4-c                     1.9.4                hf0c8a7f_0    conda-forge
markupsafe                3.0.2           py311ha3cf9ac_1    conda-forge
matplotlib                3.9.2           py311h6eed73b_2    conda-forge
matplotlib-base           3.9.2           py311h8b21175_2    conda-forge
matplotlib-inline         0.1.7              pyhd8ed1ab_0    conda-forge
mkl                       2023.2.0         h54c2260_50500    conda-forge
mkl-devel                 2023.2.0         h694c41f_50500    conda-forge
mkl-include               2023.2.0         h6bab518_50500    conda-forge
mne                       1.8.0                    pypi_0    pypi
mpc                       1.3.1                h9d8efa1_1    conda-forge
mpfr                      4.2.1                haed47dc_3    conda-forge
mpg123                    1.32.9               h78e78a4_0    conda-forge
mpmath                    1.3.0              pyhd8ed1ab_1    conda-forge
msgpack-python            1.1.0           py311hf2f7c97_0    conda-forge
munkres                   1.1.4              pyh9f0ad1d_0    conda-forge
ncurses                   6.5                  hf036a51_1    conda-forge
nest-asyncio              1.6.0              pyhd8ed1ab_0    conda-forge
networkx                  3.4.2              pyh267e887_2    conda-forge
nitime                    0.11                     pypi_0    pypi
noisereduce               3.0.3                    pypi_0    pypi
numba                     0.60.0          py311h0e5bd6a_0    conda-forge
numpy                     1.26.4          py311hc43a94b_0    conda-forge
openh264                  2.5.0                hdfcf091_0    conda-forge
openjpeg                  2.5.2                h7310d3a_0    conda-forge
openpyxl                  3.1.5           py311h46256e1_1    anaconda
openssl                   3.4.0                hc426f3f_1    conda-forge
orderly-set               5.2.3                    pypi_0    pypi
packaging                 24.2               pyhff2d567_1    conda-forge
pandas                    2.2.3           py311haeb46be_1    conda-forge
pango                     1.54.0               h115fe74_2    conda-forge
parso                     0.8.4              pyhd8ed1ab_0    conda-forge
patsy                     1.0.1              pyhff2d567_0    conda-forge
pcre2                     10.44                h7634a1b_2    conda-forge
pexpect                   4.9.0              pyhd8ed1ab_0    conda-forge
pickleshare               0.7.5                   py_1003    conda-forge
pillow                    11.0.0          py311h1f68098_0    conda-forge
pip                       24.3.1             pyh8b19718_0    conda-forge
pixman                    0.43.4               h73e2aa4_0    conda-forge
platformdirs              4.3.6              pyhd8ed1ab_0    conda-forge
pooch                     1.8.2              pyhd8ed1ab_0    conda-forge
praat-parselmouth         0.4.5                    pypi_0    pypi
prompt-toolkit            3.0.48             pyha770c72_0    conda-forge
psutil                    6.1.0           py311h1314207_0    conda-forge
pthread-stubs             0.4               h00291cd_1002    conda-forge
ptyprocess                0.7.0              pyhd3deb0d_0    conda-forge
pugixml                   1.14                 he965462_0    conda-forge
pure_eval                 0.2.3              pyhd8ed1ab_0    conda-forge
pycparser                 2.22               pyhd8ed1ab_0    conda-forge
pygments                  2.18.0             pyhd8ed1ab_0    conda-forge
pynndescent               0.5.13             pyhff2d567_0    conda-forge
pyparsing                 3.2.0              pyhd8ed1ab_1    conda-forge
pysocks                   1.7.1              pyha2e5f31_6    conda-forge
pysoundfile               0.12.1             pyhd8ed1ab_0    conda-forge
python                    3.11.10         ha513fb2_3_cpython    conda-forge
python-dateutil           2.9.0post0      py311hecd8cb5_2  
python-igraph             0.11.8          py311h51ac6f6_0    conda-forge
python-tzdata             2024.2             pyhd8ed1ab_0    conda-forge
python_abi                3.11                    5_cp311    conda-forge
pytorch                   2.2.1                  py3.11_0    pytorch
pytz                      2024.1             pyhd8ed1ab_0    conda-forge
pywavelets                1.8.0           py311ha81121a_0    conda-forge
pyyaml                    6.0.2           py311h3336109_1    conda-forge
pyzmq                     26.2.0          py311h4d3da15_3    conda-forge
qhull                     2020.2               h3c5361c_5    conda-forge
rav1e                     0.6.6                h7205ca4_2    conda-forge
readline                  8.2                  h9e318b2_1    conda-forge
requests                  2.32.3             pyhd8ed1ab_0    conda-forge
resampy                   0.4.3                    pypi_0    pypi
scikit-image              0.24.0          py311hcf53e2f_3    conda-forge
scikit-learn              1.5.2           py311ha1d5734_1    conda-forge
scikit-maad               1.4.3                    pypi_0    pypi
scipy                     1.14.1          py311h86b91e6_2    conda-forge
seaborn                   0.13.2               hd8ed1ab_2    conda-forge
seaborn-base              0.13.2             pyhd8ed1ab_2    conda-forge
setuptools                75.6.0             pyhff2d567_0    conda-forge
six                       1.16.0             pyh6c4a22f_0    conda-forge
snappy                    1.2.1                he1e6707_0    conda-forge
soxr                      0.1.3                hbf74d83_3    conda-forge
soxr-python               0.5.0.post1     py311hd89902b_1    conda-forge
stack_data                0.6.2              pyhd8ed1ab_0    conda-forge
statannotations           0.7.1                    pypi_0    pypi
statsmodels               0.14.4          py311h0034819_0    conda-forge
svt-av1                   2.3.0                h97d8b74_0    conda-forge
sympy                     1.13.3           pyh2585a3b_105    conda-forge
tbb                       2021.13.0            hb890de9_1    conda-forge
texttable                 1.7.0              pyhd8ed1ab_1    conda-forge
threadpoolctl             3.5.0              pyhc1e730c_0    conda-forge
tifffile                  2024.9.20          pyhd8ed1ab_0    conda-forge
tk                        8.6.13               h1abcd95_1    conda-forge
torchaudio                2.2.1                 py311_cpu    pytorch
torchvision               0.17.1                py311_cpu    pytorch
tornado                   6.4.1           py311h3336109_1    conda-forge
tqdm                      4.67.1             pyhd8ed1ab_0    conda-forge
traitlets                 5.14.3             pyhd8ed1ab_0    conda-forge
typing_extensions         4.12.2             pyha770c72_0    conda-forge
tzdata                    2024b                hc8b5060_0    conda-forge
umap-learn                0.5.7           py311h6eed73b_0    conda-forge
unicodedata2              15.1.0          py311h1314207_1    conda-forge
urllib3                   2.2.3              pyhd8ed1ab_0    conda-forge
vocalseg                  0.1.0                    pypi_0    pypi
wcwidth                   0.2.13             pyhd8ed1ab_0    conda-forge
wheel                     0.45.1             pyhd8ed1ab_0    conda-forge
x264                      1!164.3095           h775f41a_2    conda-forge
x265                      3.5                  hbb4e6a2_3    conda-forge
xorg-libxau               1.0.11               h00291cd_1    conda-forge
xorg-libxdmcp             1.1.5                h00291cd_0    conda-forge
xz                        5.4.6                h6c40b1e_1  
yaml                      0.2.5                h0d85af4_2    conda-forge
zeromq                    4.3.5                h7130eaa_7    conda-forge
zfp                       1.0.1                h469392a_2    conda-forge
zipp                      3.21.0             pyhd8ed1ab_0    conda-forge
zlib                      1.3.1                hd23fc13_2    conda-forge
zlib-ng                   2.2.2                hac325c4_0    conda-forge
zstandard                 0.23.0          py311hdf6fcd6_1    conda-forge
zstd                      1.5.6                h915ae27_0    conda-forge
